package web

import (
	gitstore "github.com/rusik69/govnohub/internal/git"
	"github.com/rusik69/govnohub/internal/repo"
)

type RepoPageData struct {
	Layout   LayoutData
	Header   RepoHeaderData
	Nav      RepoNavData
	Repo     *repo.Repository
	Path     string
	Ref      string
	Branches []RepoBranchOption
	Entries  []gitstore.TreeEntry
	Content  string
	IsBinary bool
	Flash    string
	FlashErr bool
}

templ RepoPage(data RepoPageData) {
	@Layout(LayoutData{
		Title: data.Layout.Title, User: data.Layout.User, CSRF: data.Layout.CSRF,
		UnreadNotifs: data.Layout.UnreadNotifs, FullWidth: true,
		Content: RepoContent(data),
	})
}

templ RepoContent(data RepoPageData) {
	@RepoPageShell(data.Header, data.Nav)
	<div class="max-w-7xl mx-auto">
		if data.Flash != "" {
			if data.FlashErr {
				@ErrorAlert(data.Flash)
			} else {
				@Toast(data.Flash, "success")
			}
		}
		@BranchBar(data.Repo.FullName, data.Ref, data.Path, data.Branches)
		if data.IsBinary {
			<div class="card p-4">
				<p class="m-0 text-sm">Binary file not shown.</p>
				<a href={ templ.SafeURL("/api/v1/repos/" + data.Repo.FullName + "/contents/" + data.Path + "?ref=" + data.Ref) } class="btn-secondary mt-3 inline-flex">Download</a>
			</div>
		} else if data.Content != "" {
			<div class="gh-code-block">
				<pre class="font-mono whitespace-pre-wrap">{ data.Content }</pre>
			</div>
		} else if len(data.Entries) > 0 {
			@FileTable(data.Repo.FullName, data.Ref, data.Path, data.Entries)
		} else {
			<div class="gh-file-table">
				@EmptyState("This repository is empty")
			</div>
		}
	</div>
}

func repoEntryURL(fullName, ref, basePath string, e gitstore.TreeEntry) string {
	p := e.Path
	if basePath != "" {
		p = basePath + "/" + e.Path
	}
	if e.Type == "dir" {
		return "/" + fullName + "/tree/" + p + "?ref=" + ref
	}
	return "/" + fullName + "/blob/" + p + "?ref=" + ref
}
